<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Great Number Game</title>
</head>
<body>
    <form action='/inspect' method='post'>
        {% csrf_token %}
        <h1>Welcome to the Great Number Game</h1><br>
        <p>I am thinking of a number between 1 and 100</p><br>

        Take a guess: <input type='text' name='number'>
        <button type='submit'>Submit</button>
    </form>

    
</body>
</html>